*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}
body,html{
width: 100%;
height: 100%;
}
header {
    height: 500px;
}
header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#horizontal .content{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    flex-shrink: 0;

}

#horizontal{
    display: flex;
    overflow-x: hidden  ;
}

#horizontal .content:nth-child(1){
    background-color: lightcoral;
}

#horizontal .content:nth-child(2){
    background-color: lightseagreen;
}

#horizontal .content:nth-child(3){
    background-color: lightblue;
}
#horizontal .content:nth-child(4){
    background-color: lightgoldenrodyellow;
}

